.menu-tab {
    max-width: max-content;
    width: 100%;
    overflow-x: auto;

    .tab-item {
        white-space: nowrap;

        &.active {
            background-color: var(--white);
            color: var(--black);
            border-radius: 16px;
        }
    }
}


// video-tutorial-block
.video-tutorial-block {
    .list-category {
        overflow: hidden;

        .item {
            position: relative;
            transform: translateX(-36px);
            transition: all ease 0.4s;

            &.active {
                transform: translateX(0);
            }
        }
    }
}