.menu-tab {
    max-width: max-content;
    width: 100%;
    overflow-x: auto;

    .tab-item {
        white-space: nowrap;
        border-radius: 16px;

        &.active {
            background-color: var(--white);
            color: var(--black);
            box-shadow: 0px 2px 2px 0px rgba(28, 36, 51, 0.10);
        }
    }
}

.tab-features-block {
    &.style-underwear {
        .menu-tab {
            .tab-item {
                &.active {
                    background-color: var(--black);
                    color: var(--white);
                }
            }
        }
    }
}

// video-tutorial-block
.video-tutorial-block {
    .list-category {
        overflow: hidden;

        .item {
            position: relative;
            transform: translateX(-36px);
            transition: all ease 0.4s;

            &.active {
                transform: translateX(0);
            }
        }
    }
}