.flash-sale-block.style-six .dots:hover span {
    background-color: var(--green);
}

.flash-sale-block.style-six .list-product .item .product-infor {
    position: absolute;
    width: max-content;
    top: 47px;
    left: 50%;
    transform: translate(-50%, 10px);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

.flash-sale-block.style-six .list-product .item .product-infor::before {
    content: "";
    position: absolute;
    background-color: var(--white);
    width: 24px;
    height: 24px;
    top: 0px;
    left: calc(50% - 4px);
    transform: rotate(45deg) translateX(-50%);
    z-index: -1;
}

.flash-sale-block.style-six .dots.bottom-dot .product-infor {
    transform: translate(-50%, -10px);
    bottom: calc(100% + 20px);
    top: unset;
}

.flash-sale-block.style-six .list-product .item .dots.bottom-dot .product-infor::before {
    top: unset;
    bottom: -20px;
}

.flash-sale-block.style-six .dots:hover .product-infor {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
}