.list-instagram .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 1;
    transition: all ease 0.5s;
}

.list-instagram .item:hover::before {
    opacity: 1;
}

.list-instagram .item:hover>img {
    transform: translateZ(0) scale(1.04);
}

.icon:hover .icon-instagram {
    color: var(--white);
}