
.testimonial-block .list-avatar .bg-img {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity ease 1s;
    
    img {
        position: absolute;
        height: 0;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        
        img {
            position: relative;
            height: auto;
        }
    }
}

.testimonial-block.style-six .list-avatar .bg-img {
    height: 0;

    img {
        height: 0;
    }

    &.active {
        height: calc(100% - 40px);

        img {
            height: 100%;
        }
    }
}