

.testimonial-block .list-avatar .bg-img:not(:first-child) {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.testimonial-block.style-six .list-avatar .bg-img {
    height: calc(100% - 40px);
}