
.testimonial-block .list-avatar .bg-img {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all ease 1s;

    &.active {
        opacity: 1;
        visibility: visible;
        height: auto;
    }
}

.testimonial-block.style-six .list-avatar .bg-img {
    height: calc(100% - 40px);
}