/* blog-item */
.blog-item {
    &:hover {
        .blog-thumb img {
            transform: translateZ(0) scale(1.07);
        }

        .blog-title {
            color: var(--green);
            text-decoration: underline;
        }
    }
}


// list-tags
.list-tags {
    .tags {
        &.active {
            background-color: var(--black);
            color: var(--white);
        }
    }
}