.style-watch {
    .footer {
        .footer-main {
            background: var(--surface1);
            color: var(--white);
        }

        .text-black {
            color: var(--white);
        }

        svg {
            fill: var(--white);
        }
    }
}