/* Main color */
:root {
  --green: #D2EF9A;
  --black: #1F1F1F;
  --secondary: #696C70;
  --secondary2: #A0A0A0;
  --white: #ffffff;
  --surface: #F7F7F7;
  --critical: #DB4444;
  --purple: #8684D4;
  --success: #3DAB25;
  --yellow: #ECB018;
  --pink: #F4407D;
  --line: #E9E9E9;
}

html,
body {
  font-size: 16px;
  line-height: 26px;
  color: var(--black);
  font-weight: 500;
  overflow-x: hidden;
}

select {
  appearance: none;
  outline: none;
}

/* Main class used in Anvogue */
.container {
  max-width: 1322px !important;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

.text-display {
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
  text-transform: capitalize;
}

.heading1 {
  font-size: 56px;
  line-height: 68px;
  font-weight: 500;
  text-transform: capitalize;
}

.heading2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 600;
  text-transform: capitalize;
}

.heading3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

.heading4 {
  font-size: 30px;
  line-height: 42px;
  font-weight: 600;
  text-transform: capitalize;
}

.heading5 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

.heading6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-transform: capitalize;
}

.text-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.body1 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.text-button {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  text-transform: capitalize;
}

.text-button-uppercase {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.caption1 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.caption2 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

@media (max-width: 767.99px) {
  .text-display {
    font-size: 24px;
    line-height: 30px;
  }

  .heading1 {
    font-size: 24px;
    line-height: 30px;
  }

  .heading3 {
    font-size: 20px;
    line-height: 28px;
  }

  .text-button-uppercase {
    font-size: 12px;
    line-height: 16px;
  }
}