/* top nav header */
.top-nav.style-two select.bg-black {
    background-color: var(--purple);
}


/* menu header */
.header-menu {
    position: relative;
    z-index: 2;
}

.menu-main .sub-menu,
.menu-main .mega-menu {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    transform: scaleY(0);
    transform-origin: top center;
    box-shadow: 0px 5px 25px 0px rgba(138, 159, 168, 0.25);
}

.menu-main>ul>li:hover .sub-menu,
.menu-main>ul>li:hover .mega-menu,
.menu-main>ul>li .sub-menu:hover {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.sub-menu li a,
.mega-menu li a {
    padding: 7px 0;
    white-space: nowrap;
    display: inline-block;
}

.menu-main ul li a {
    position: relative;
}

.menu-main ul li a::before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--black);
    transition: all ease 0.3s;
}

.menu-main>ul>li>a::before {
    bottom: 24px;
    height: 2px;
}

.menu-main ul li>a.active,
.menu-main .sub-menu li:hover a,
.menu-main .mega-menu li:hover a {
    color: var(--black);
}

.menu-main>ul>li:hover>a::before,
.menu-main ul li>a.active::before,
.menu-main .sub-menu li:hover a::before,
.menu-main .mega-menu li:hover a::before {
    width: 100%;
}

.menu-main ul li a.view-all-btn::before {
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
}

.menu-main ul li.logo a::before {
    display: none;
}

.menu-main ul li:hover>a.view-all-btn::before {
    background-color: var(--black);
}

.menu-main .product-item .list-action {
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: unset;
}

.menu-main .product-item .list-action {
    transform: translateY(120px);
    gap: 8px;
}


/* Swiper Pagination */
.swiper {
    cursor: grab;
    user-select: none;
}

.swiper-slide {
    height: unset !important;
}

.slider-main .swiper-pagination-fraction,
.slider-main .swiper-pagination-custom,
.slider-main .swiper-horizontal>.swiper-pagination-bullets,
.slider-main .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 24px;
}

.swiper-pagination .swiper-pagination-bullet {
    position: relative;
    margin: 0 8px !important;
    background: transparent;
    border: 1px solid var(--black);
    opacity: 1 !important;
    transition: all ease 0.5s;
}

.swiper-pagination .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
    transition: all ease 0.5s;
    border-radius: 50%;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-color: var(--black);
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--black);
}