.login-popup {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all ease 0.4s;

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.modal-cart-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
    background: rgba($color: #000000, $alpha: 0.6);
    z-index: 101;

    &:has(.modal-cart-main.open) {
        opacity: 1;
        visibility: visible;
    }

    .modal-cart-main {
        position: absolute;
        right: -100%;
        width: 450px;
        height: 100vh;
        background-color: var(--white);
        transition: all ease 0.5s;

        &.open {
            right: 0;
        }

        .remove-cart-btn {
            &:hover {
                svg {
                    color: var(--black);
                }
            }
        }
    }
}