.login-popup {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all ease 0.4s;
}

.login-popup.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}