.login-popup {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all ease 0.4s;

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

#menu-mobile {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 0;

    &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: unset;
    }
}