/* Product Item */
.product-item {
    .product-thumb .list-action-right {
        transform: translateX(60px);
        transition: all ease 0.4s;
        z-index: 1;
    }

    &:hover .product-thumb .list-action-right {
        transform: translateX(0);
    }

    .tag-action {
        white-space: nowrap;
        position: absolute;
        right: calc(100% + 10px);
        z-index: 0;
        opacity: 0;
        transform: translateX(-10px);
        transition: 0.3s;
        box-shadow: 0px 5px 13px rgb(80 80 80 / 0.5);
        pointer-events: none;

        &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: var(--black);
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            right: -3px;
            z-index: -1;
        }
    }

    .compare-btn,
    .add-wishlist-btn {
        &:hover {
            background-color: var(--black);
            color: var(--white);

            .tag-action {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    .product-thumb {
        .list-action {
            transform: translateY(100px);
            transition: all ease 0.4s;
        }

        .product-img img:last-child {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            z-index: 0;
        }
    }

    &:hover {
        .product-thumb {
            .list-action {
                transform: translateX(0);
            }

            .product-img img {
                transform: scale(1.05);

                &:first-child {
                    opacity: 0;
                }

                &:last-child {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

    }
}


/* .product-item:hover .product-name {
    opacity: 0;
    visibility: hidden;
}

.product-item .list-color {
    position: absolute;
    z-index: -1;
}

.product-item:hover .list-color {
    transform: translateY(-30px);
}

.product-item:hover .product-price-block {
    transform: translateY(12px);
} */

.list-color {
    .color-item {
        border: 2px solid transparent;
        cursor: pointer;

        &.active,
        &:hover {
            border-color: var(--black);
        }

        .tag-action {
            position: absolute;
            right: unset;
            top: -32px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: all ease 0.5s;

            &::before {
                content: "";
                position: absolute;
                top: unset;
                right: unset;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                bottom: -4px;
                height: 14px;
                width: 14px;
                z-index: -1;
                background-color: var(--black);
            }
        }

        &:hover .tag-action {
            opacity: 1;
        }
    }
}

.list-size {
    .size-item {
        transition: all ease 0.3s;
        cursor: pointer;

        &:hover {
            border-color: var(--black);
        }

        &.active {
            background-color: var(--black);
            color: var(--white);
        }
    }
}


.hide-color .product-item .list-color {
    display: none;
}

.hide-product-sold .product-item .product-sold {
    display: none;
}

// Lookbook Cosmetic
@media (min-width: 1024px) {
    .lookbook-block.cos1 {
        .list-product {
            .product-item {
                &:last-child {
                    display: none;
                }
            }
        }
    }
}

.tab-features-block.style-watch {

    .product-name,
    .product-price {
        color: var(--white);
    }

    .section-swiper-navigation {

        .swiper-button-prev,
        .swiper-button-next {
            &:hover {
                background-color: var(--green);
                color: var(--black);
            }
        }
    }
}

.bg-black.style-watch {
    .color-item {
        &.bg-black {
            border-color: var(--line);
        }

        &:hover {
            border-color: var(--line);
        }
    }

    .list-size .size-item:hover {
        border-color: var(--line);
    }

    .tag-action.bg-black {
        background-color: var(--white);
        color: var(--black);

        &::before {
            background-color: var(--white);
        }
    }
}